/* DropdownMenu.css */
:root {
  --padding: 12px 16px; /* Some padding */
  --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  min-width: 160px; /* Minimum width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); /* Shadow effect */
  padding: 12px 16px; /* Some padding */
  border-radius: var(--border-radius); /* Use the border-radius variable */
  border: 1px solid #e5e5e5; /* Add a border */
}
.dropdown-right {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  min-width: 160px; /* Minimum width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); /* Shadow effect */
  padding: 12px 16px; /* Some padding */
  border-radius: var(--border-radius); /* Use the border-radius variable */
  border: 1px solid #e5e5e5; /* Add a border */
}

.dropdown li,
.dropdown-right li {
  background: none; /* Remove background */
  padding: 1.5rem; /* Some padding */
  text-align: left; /* Align text to the left */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 16px; /* Increase font size */
  /*outline: none;*/

  border: 1px solid rgb(96, 96, 96);
  list-style: none;
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
} /* Remove list-style */

.dropdown ul,
.dropdown-right ul {
  padding: 0;
  margin: 0;
}
.dropdown li:hover,
.dropdown-right li:hover {
  background-color: rgb(209, 209, 209);
}
