/* DropdownMenu.css */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  min-width: 160px; /* Minimum width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); /* Shadow effect */
  padding: 12px 16px; /* Some padding */
  border-radius: var(--border-radius); /* Use the border-radius variable */
}

.dropdown button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  width: 100%; /* Full width */
  padding: 1.5rem; /* Some padding */
  text-align: left; /* Align text to the left */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 16px; /* Increase font size */
}
