.sidebar-button {
  color: #ffffff;
  display: block;
  border-radius: 10px;
  margin: 10px;
}
.sidebar-button-main {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10p x;
  height: 3rem;
  margin: 10px;
  cursor: pointer;
}
.sidebar.open .sidebar-button {
  opacity: 1;
}
