.Home {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.scrum-board {
  display: flex;

  justify-content: center;
}

.scrum-board .task-column {
  flex: 1;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 20rem;
}
.add-some {
  border-radius: var(--border-radius);
  margin: 1rem;
  cursor: pointer;
  justify-content: flex-start !important;
  /* transition: transform 0.5s ease; */
}
.add-some:hover {
  opacity: 0.4;
  /*transform: scale(1);*/
}
