header {
  text-align: left;
}
nav {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  margin: 0;
  height: 20px;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  display: inline-block;
  margin: 0 10px; /* Add this line */
}
