.form-input {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 1rem;
}

.form-input img {
  margin-right: 5px;
  margin-left: 5px;
}

.form-input input {
  border: none;
  flex-grow: 1;
  outline: none;
  box-shadow: none;
}

select,
form input {
  width: 100%;
  border: none;
}
select:focus {
  outline: none;
}
select:hover {
  cursor: pointer;
}
