.task-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.task-column h2 {
  margin-bottom: 20px;
}

.title-column {
  background-color: rgb(77, 110, 92);
  border-radius: 10px;
  color: white;
  margin: 0;
}
