.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.table th,
.table td {
  border-right: 1px solid var(--task-color);
  border-left: 1px solid var(--task-color);
  padding: 8px;
  text-align: left; /* Aligns the text to the left */
}

.table th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--task-color);
  color: white;
  position: sticky;
  top: 0;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Adds a light grey background to every other row for better readability */
}

.table td:first-child,
.table th:first-child {
  border-left: none; /* Removes the left border from the first cell of each row */
}

.table td:last-child,
.table th:last-child {
  border-right: none; /* Removes the right border from the last cell of each row */
}

button {
  cursor: pointer;
}
.table {
  border-radius: var(--border-radius);
}
