.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .page-wrap {
  flex-grow: 1;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-some {
  display: block;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  cursor: pointer;
  transition: transform 0.5 ease;
}
.add-some:hover {
  opacity: 0.4;
  transform: scale(0.9);
}

.top-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.restore-some {
  color: #c64490;

  cursor: pointer;
}
.restore-some:hover {
  opacity: 0.4;
  transform: scale(0.9);
}

.add-some::after {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s ease-in-out;
  opacity: 0;
}
